.header {
  display: flex;
  height: 100px;
  color: #f0d6d2 !important;
  background-color: #152835;
  font-size: 20px;
}

.header-name {
  font-weight: bolder;
  margin: 2rem;
}

.nav-link {
  color: #f0d6d2 !important;
}

.nav-link :hover {
  color: #dba093;
  transform: scale(1.05);
  box-shadow: 0 0 4px 4px;
}



@media screen and (max-width: 480px) {
  .header {
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .header {
    font-size: 12px;
  }
}
