  /* --dark-theme */
  .theme-light {
    --dark-text: #5E4B56;
    --intro-background: #f0d6d2;
    --project-border: #DBA093;
    --navbar: #dba093;
    --background: #f0d6d2;
    --light-text: #5E4B56;
    --light-background: #f0d6d2;
    --form: white;
  }
  
  /* --light-theme */
  .theme-dark {
    --dark-text: #f0d6d2;
    --intro-background: black;
    --light-background: #2c5570;
    --navbar: #152835;
    --background: #0C1820;
    --light-text: #f0d6d2;
    --form: #f0d6d2;
  }
  
  html, #root {
    color: var( --light-text);
  }
  