.portfolio {
    background-color: var( --background);
    margin-top: 100px;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var( --light-text);
}

.p-text {
    font-size: 30px;
}

.port-title {
    font-size: 50px;
    font-weight: 500;
    color: #dba093;
}

.port-desc{
    margin: 20px 0px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.p {
    overflow: hidden;
    width: 40%;
    height: 70vh;
    margin: 20px 20px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    color: var( --light-text);
    background-color: transparent 
}

.p-header {
    height: 40px;
    font-size: x-large;
    justify-content: center;
    background-color: var( --portfolio-background);
    display: flex;
    color: var( --light-text);
}

.demo-img {
    width: 100%;
}

.p:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 4px 6px;
}

img, svg {
    color: var( --light-text);
    font-size: 30px;
}
@media screen and (max-width: 768px) {
    .portfolio{
        padding: 0;
    }
    .p{
        height: 45vh;
        width: 40%;
    }

}
@media screen and (max-width: 540px){
    p{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .portfolio{
        padding: 5px;
    }
    .p{
        height: 30vh;
        width: 40%;
    }
    div.p-header{
        font-size: 14px;
    }
    p{
        display: none;
    }
    svg{
        font-size: 24px;

    }

}

@media screen and (max-width: 375px) {
    .portfolio {
        padding: 0;
    }
    .p{
        height: 40vh;
        width: 1000%;
    }
    p{
        display: none;
    }
    svg{
        font-size: 20px;

    }
}
