.resume-wrapper{
    display: flex;
    background-color: #0C1820 !important;
    height: auto;
    padding: 30px;
    margin-top: 100px;
}

.resume-div {
    background-color: #0C1820;
    color: #F0D6D2;
    height: auto;
    font-size: 20px;
    padding: 50px;
    width: 100%;
}

.resume-btn {
    color: #152835 !important;
    background-color: #DBA093 !important;
    border-color: #F0D6D2 !important;
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.resume-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 4px 6px;
}

.resume-name {
    color: #DBA093;
    font-weight: bolder;
}

.resume-skills {
    padding: 10px;

}

.alternate{
    color: #DBA093;
}

