.resume-wrapper{
    display: flex;
    background-color: #2C5570 !important;
    height: auto;
    padding: 30px;
}

.resume-div {
    background-color: #2C5570;
    color: #F0D6D2;
    height: auto;
    font-size: 20px;
    padding: 50px;
    width: 100%;
}

.resume-btn {
    color: #152835 !important;
    background-color: #DBA093 !important;
    border-color: #F0D6D2 !important;
    margin-top: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.resume-name {
    color: #DBA093;
    font-weight: bolder;
}

.resume-skills {
    padding: 10px;

}

.alternate{
    color: #DBA093;
}

