.contact-wrapper{
    background-color: #2C5570 !important;
    height: 100vh;
    padding: 30px;
}
.contact-container{ 
    background-color: #2C5570 !important;
    padding: 20px;
    color: #F0D6D2;
    /* display: inline-block; */
    width: 100%;
    margin-top: 100px;
    position: absolute;
}
.contact-text{
    color: #DBA093; 
}
.contact-title{
    padding: 15px;
    font-size: x-large;
}
.contact-submit{
    color: #152835 !important;
    background-color: #DBA093 !important;
    border-color: #F0D6D2 !important;
    margin-top: 20px;
    cursor: pointer;
    float: right;
}

.contact-form{
    background-color: #2C5570 !important;
}

.form-control{
    background-color: #F0D6D2 !important;
}
